img {
  border-radius: 5px 5px 0 0;
}
      figcaption {
        color: var(--color-pink);
      }

      .quote {
        font-style: italic;
      }

      .link {
        font-weight: bold;
        color: antiquewhite;
      }

@media only screen and (max-width: 600px) {
.wrapper {
max-width: 350px;
}
.img {
  margin-left: -30px;
  height: 150px;
}
}