
    @media only screen and (max-width: 600px) {
        .img {
            max-width: 225px;
            max-height: 225px;
            
        }
      }

      figcaption {
        color: var(--color-pink);
      }

      .quote {
        font-style: italic;
      }