img {
  border-radius: 5px 5px 0 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p{
  text-align: center;
}

ul {
  list-style-position: inside;
  text-align: center;
}
      figcaption {
        color: var(--color-pink);
        text-align: center;
      }

      .quote {
        font-style: italic;
        font-size: larger;
        text-align: center;
      }
  

      .link {
        font-weight: bold;
        color: antiquewhite;
      }

@media only screen and (max-width: 600px) {
.wrapper {
max-width: 350px;
}
.img {
 
  height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
}