html {
  --color-green: #F57D7C;
  --color-pink: white;
  --font: "Poppins", sans-serif;
}

html.dark{
  background-color: var(blue);
}

@media (prefers-color-scheme: dark) {
  html {
        /* here's where we change the variable values for dark mode */
    --primaryTextColor: white;
    --primaryBackgroundColor:blue;
        --headingTextColor: #14ad8c;
        --secondaryBackgroundColor: #130d21;  
  }
}

nav {
  text-align: center; 
  padding: 0;
  margin: 0;
  list-style-type: none;
  background-color: var(--color-pink);
}
.li {
 display: inline-block;
 font-size: 20px;
 padding: 20px;
}

@media only screen and (max-width: 600px) {
  .li {
    display: inline-block;
    font-size: 14px;
   margin-left: -30px
  }
}

.selected {
  font-weight: bold;
  color: #217c7e;
}

.normal {
  color: #217c7e;
}

nav a:hover {
  background-color: var(--color-green);
  color: white;
  display: block;
  width: 100px;
  height: 30px;
  
}