

:root {
  --color-green: #217c7e;
  --color-pink: #f6efef;
  --font: "Poppins", sans-serif;
}


nav {
  text-align: center; 
  padding: 0;
  margin: 0;
  list-style-type: none;
  background-color: var(--color-pink);
}
.li {
 display: inline-block;
 font-size: 20px;
 padding: 20px;
}

@media only screen and (max-width: 600px) {
  .li {
    display: inline-block;
    font-size: 14px;
   margin-left: -30px
  }
}

.selected {
  font-weight: bold;
  color: #217c7e;
}

.normal {
  color: #217c7e;
}

nav a:hover {
  background-color: var(--color-green);
  color: white;
  display: block;
  width: 100px;
}