@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
.prof {
    border-radius: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
.intro{
    font-size: 90px;
    text-align: center;
    font-family: 'Itim', cursive;
    color: var(--color-pink);
}

h2{
    text-align: center;
}

.p {
    text-align: center;
    font-size: 18px;
}

p {
    font-size: 18px; 
}

.link {
	font-weight: bold;
	color: antiquewhite;	
}

.wrapper h3 {
    color: white;
}

.wrapper {
    max-width: 70%;
    margin: auto;
}
@media only screen and (max-width: 600px) {
  .wrapper {
      max-width: 350px;
  }
}

