
  
  .prof {
    border-radius: 50px;
    margin-left: 40px;
    margin-top: -20px;
  }
  
.wrapper {
    width: 70%;
    margin: auto;
}

.intro{
    font-size: 50px;
}

.wrapper h3 {
    color: white;
}

@media only screen and (max-width: 600px) {
    .wrapper {
        max-width: 250px;
    }
    .video {
        max-width: 250px;
    }
  }