.prof {
    border-radius: 50px;
    margin-left: 40px;
    margin-top: -20px;
  }
  
.intro{
    font-size: 50px;
}

.wrapper h3 {
    color: white;
}

.wrapper {
    max-width: 70%;
    margin: auto;
}
@media only screen and (max-width: 600px) {
  .wrapper {
      max-width: 350px;
  }
}

