     .logos{
       display: flex;
       justify-content: space-evenly;
       
     }

      .icon:hover {
        opacity: 0.8;
      }

    h4 {
      color: var(--color-pink);
    }
    .wrapper {
      max-width: 70%;
      margin: auto;
  }

  
  @media only screen and (max-width: 600px) {
    .wrapper {
        max-width: 350px;
    }
    .wrapper .btn {
      display: inline-block;
      margin: auto;
      width: 150px;
    }
    .icon {
      float: left;
    }
  }
  