    .btn {
        transition-duration: 0.3s;
        font-size: 16px;
        font-weight: bold;
        border-radius: 25px;
        height: 60px;
        color: black;
      }
      
      .btn:hover {
        background-color: var(--color-green); 
      }

      .wrapper {
        max-width: 550px;
        margin: auto;
    }

    h4 {
      color: var(--color-pink);
    }

    @media only screen and (max-width: 600px) {
        .wrapper {
            max-width: 250px;
        }
      }

      .email {
        font-weight: bold;
      }