body {
    background-color: var(--color-green);
}

p {
    color: var(--color-pink);
}

h2 {
    color: var(--color-pink);
}

.link {
	font-weight: bold;
	color: antiquewhite;	
}

.wrapper {
    max-width: 550px;
    margin: auto;
}

@media only screen and (max-width: 600px) {
    .wrapper {
        max-width: 250px;
    }
  }