body {
    background-color: var(--color-green);
}

body.dark {
    background-color: var(--primaryBackgroundColor);
}


@media (prefers-color-scheme: dark) {
    html {
          /* here's where we change the variable values for dark mode */
      --primaryTextColor: white;
      --primaryBackgroundColor: black;
          --headingTextColor: #14ad8c;
          --secondaryBackgroundColor: #130d21;  
    }
  }

p {
    color: var(--color-pink);
}

.wrapper .list{
   margin-left: 15%;
}

ul {
    color: var(--color-pink);
    display: inline-block;
    text-align: center;
    list-style: none;
}

.tech {
    display: flex;
}

.techlogo {
  padding: 50px;
}

.reactldn {
    transition: transform .2s;
}

.reactldn:hover{
    transform: scale(1.5);
}

img {
    border-radius: 50px;
    margin-left: 40px;
}

h2 {
    color: var(--color-pink);
}

.link {
	font-weight: bold;
	color: antiquewhite;	
}

.wrapper {
    max-width: 70%;
    margin: auto;
}

.wrapper #prof2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wrapper .prof {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 800px) {
    .tech {
        display: flex;
    }

    .techlogo {
        padding: 0px;
      }

      ul {
        margin-left: -30px;
    }
}

@media only screen and (max-width: 600px) {
    .wrapper {
        max-width: 350px;
    }
    #prof2 {
        width: 370px;
        margin-left: 0px;
    }

    .tech {
        display: flex;
    }

    .techlogo {
        padding: 0px;
      }
  
    ul {
        margin-left: -30px;
    }
    .reactldn {
        margin: auto;
    }
  }

  .prof {
    border-radius: 50px;
    margin-left: 40px;
  }

  #prof2 {
    
    margin-left: 0px;
  }