body {
    background-color: var(--color-green);
}

p {
    color: var(--color-pink);
}

h2 {
    color: var(--color-pink);
}

.link {
	font-weight: bold;
	color: antiquewhite;	
}

.wrapper {
    max-width: 70%;
    margin: auto;
}

@media only screen and (max-width: 600px) {
    .wrapper {
        max-width: 250px;
    }
    #prof2 {
        width: 370px;
        margin-left: 0px;
    }
  }

  .prof {
    border-radius: 50px;
    margin-left: 40px;
  }

  .prof1 {
    border-radius: 50px;
    margin-left: 40px;
  }